{% extends "blog.html" %}

{% block title %}

<h2 class="{{ page }}" style="margin-bottom:0.6em;">Bad reviews are good for business</h2>
<h3 class="{{ page }}" style="margin-top:0px; margin-bottom: 2.2em;">July 2012</h2>
{% endblock %}

{% block content %}
<p>While I was working at <a href="http://www.reevoo.com" class="{{page}}">social commerce start-up Reevoo</a>, I wrote and edited a range of ebooks as part of the company’s content marketing strategy. This one is my particular favourite. <a href="/static/documents/bad-reviews-are-good-for-business.pdf" class="{{page}}">Read ‘Bad reviews are good for business’</a>.</p>

<a href="/static/documents/bad-reviews-are-good-for-business.pdf"  target="_blank"><img src="/static/images/bad-reviews-are-good-for-business.png" alt="The cover of the ebook 'Bad reviews are good for business'" style="width:376px"></a>

{% endblock %}