{% extends "blog.html" %}

{% block title %}

<h2 class="{{ page }}" style="margin-bottom:0.6em;">Benchmarking banking apps</h2>
<h3 class="{{ page }}" style="margin-top:0px; margin-bottom: 2.2em;">January 2015</h2>
{% endblock %}

{% block content %}

<p>In December 2014 and January 2015, I spent a few weeks investigating the usability of the latest generation of apps from UK retail banks, through a mixture of user observation, expert UX analysis, a NatRep survey and analysing app reviews. I wrote up what I’d learnt in a 2,000 word summary and a 20,000 word report, which the Adaptive Lab team used to increase our profile in the finance sector and start conversations with potential clients. Read the summary report.</p>

<a href="/static/documents/benchmarking_banking_apps--adaptive_lab_summary_report.pdf" class="{{page}}"><img src="/static/images/banking-app-report.png" alt="Cover of banking app report"  target="_blank"/></a>

{% endblock %}
