{% extends "blog.html" %}

{% block title %}

<h2 class="{{ page }}" style="margin-bottom:0.6em;">Beyond habits and nudges</h2>
<h3 class="{{ page }}" style="margin-top:0px; margin-bottom: 2.2em;">August 2015</h2>
{% endblock %}

{% block content %}
<p>In tech and design circles, behavioural psychology has just started the long slow slide down from the peak of Gartner’s hype cycle. Far from spelling the end of its useful life, we’re starting to see a more thoughtful and more benign use of ‘behavioural design’.</p>

<p>For the last couple of years, <a href="http://www.nirandfar.com/hooked">Nir Eyal’s hook model of habit formation</a> has been an obsession of the start-up community. The brightest minds in Silicon Valley, East London and beyond spent their working hours trying to programme new habits into their users, centred around their app, website or service.</p>

<p>Even the normally slow-moving public sector joined in the behavioural psychology craze. The Cabinet Office in the UK set up its own ‘nudge unit’ which had some notable – and well-publicised – successes. </p>

<p>When a program to incentivise householders to insulate their lofts had low uptake, the nudge unit were sent in. They realised that people’s reluctance to insulate was really a reluctance to clear out all the junk currently filling the space. When the <a href="http://www.behaviouralinsights.co.uk/">nudge unit</a> encouraged businesses to add free loft clearance to their insulation services, demand soared.</p>

<p>In the past few months, the pushback has started, led by articles on the ethics of ‘habit-forming design’ and nudges that encourage users to act against their best interests. Tech idealists are no longer comfortable using slot machines as their design inspiration.</p>

<p>This doesn’t mean, however, that there’s nothing worthwhile in behavioural psychology for product designers. At Adaptive Lab, we’ve taken a deeper dive into the research to identify some concepts that are still helpful and don’t present the same ethical quandaries.</p>

<p>Instead of trying to create entirely new habits around addictive product experiences, we’ve worked with a major grocer to help customers make the kind of changes to their behaviour that they really want to make. Instead of manipulating customers, we suggested ways to work with them to change their existing habitual shopping behaviours. Using B J Fogg’s approach of incrementally building tiny habits on top of existing habits, we designed a range of ways to shift customers little by little towards healthy eating.</p>

<p>We’ve also had success using another promising new concept from behavioural design: cognitive load. Research has shown that, just as our attention is limited, so is our willpower – and, significantly, they both draw on the same mental resources. Spend all day struggling with a tricky problem, or being distracted by Twitter every 10 minutes, and you won’t have enough self-control to resist having a second helping at dinner.</p>

<p>For companies used to trying to get as much of their users’ attention (AKA ‘engagement’) as possible, this is a startling message. Instead of aiming to optimise dwell time and engagement, designers are starting to focus on reducing the cognitive resources they demand from users.</p>

<p>As a result, there’s been a resurgence in profoundly simple product and service experiences. Some have dubbed this movement ‘uberfication’, reflecting the success of Uber in turning a complex interaction into a single tap.</p>

<p>Consumers are starting to reward and recommend the products that can do the most while asking the least from their users. The companies making these may be front of mind for their customers for less time each day, but their loyalty and Net Promoter Scores are soaring.</p>

<p>Adaptive Lab worked with a major high street bank to suggest how they could reduce the cognitive load their online banking demands from customers. Our design of a new online banking experience combined a radically simplified interface with nudges towards helping people adopt healthier financial habits.</p>

<p>In our experience, behavioural interventions like these work most effectively when they’re grounded in a user-centred design process, that builds on customers’ real needs and desires. Too many companies have used behavioural design to create itches in users, so they can help them scratch. Now the hype has died down, we’re starting to see less of this manipulative design and, as a result, we’re starting to find the true value in combining behavioural psychology and digital product/service design.</p>

{% endblock %}