{% extends "blog.html" %}

{% block title %}

<h2 class="{{ page }}" style="margin-bottom:0.6em;">Different ways of getting out of the building</h2>
<h3 class="{{ page }}" style="margin-top:0px; margin-bottom: 2.2em;">March 2014</h2>
{% endblock %}

{% block content %}

<p>In The Lean Start-up, Eric Reis emphasises the importance of start-up teams <a href="http://steveblank.com/2010/03/11/teaching-entrepreneurship-%E2%80%93-by-getting-out-of-the-building/">‘getting out of the building’</a> to meet potential users/customers. At Adaptive Lab, we’re trying to spend more time doing this kind of out-of-office activity, but we’re also getting out of the building for different reasons.</p>

<p>For instance, most of the Adaptive Lab team recently went to the Design Museum to see <a href="http://designmuseum.org/exhibitions/2014/in-the-making">In the making</a> last week. This exhibition shows a variety of half-built objects to reveal the construction process. None of them are directly related to any of the projects we’re working on. So why go?</p>

<p>The simplest way of explaining the value of field trips like this is that they’re food for thought. Thinking and talking about something unrelated to what we normally do can spark new ideas for the projects we’re working on now, or for projects we want to work on in future. They’re usually the kind of ideas that wouldn’t normally come up during the other kinds of idea generation work we do.</p>

<p>In a way, we’re doing our own, more abstract version of the <a href="http://itsthisforthat.com/">start-up generator</a>:</p>

<figure>
<img src="/static/images/start-up-generator-1.png">
<figcaption>Wait, what does your start-up do? It’s Texts From Last Night for Ex-Girlfriends!</figcaption>
</figure>

<p>While the start-up generator is satirising this kind of approach, there’s a useful creative strategy there: experimenting with ideas from one area in another. For instance, this product actually exists:</p>

<figure>
<img src="/static/images/start-up-generator-1.png">
<figcaption>Wait, what does your start-up do? It’s Kickstarter for Small businesses!</figcaption>
</figure>

<p>It’s a site called <a href="http://www.crowdcube.com/investment/beerbods-14508">CrowdCube</a>, and <a href="http://www.beerbods.com/">the company that I use to find interesting craft beers</a> recently used it to raise £155,000 from its users in return for 23% equity.</p>

<p><a href="http://smithery.co/">John V Willshire</a>, the smart mind behind Artefact Cards and one of our regular collaborators, has a interesting spin on this kind of getting out of the building. On a recent project, he arranged for the client-side team to visit the Lego store, the Build-a-bear stores and lots of chocolate shops. He linked each location to a principle that could be applied to the project; for instance, the modularity of Lego, or the customisation of Build-a-Bear. Judging by the quality and range of ideas that came out of these sessions, the tactic was a huge success for expanding the team’s mental horizons.</p>
{% endblock %}