{% extends "blog.html" %}

{% block title %}

<h2 class="{{ page }}" style="margin-bottom:0.6em;">Getting onboarding right from the start with user investment</h2>
<h3 class="{{ page }}" style="margin-top:0px; margin-bottom: 2.2em;">May 2014</h2>
{% endblock %}

{% block content %}
<p>Startups have always obsessed over VC investment, but now the savviest of them are paying as much attention to user investment.</p>

<p>User investment is an umbrella term that refers to any activities in which users spend time or effort interacting with a product in a way that ultimately makes that product more valuable to them. It’s not to be confused with user engagement, although it is one of the key factors that determines how engaged your users are.</p>

<p>Some of the best examples of designing for user investment can be seen in the onboarding process – and it’s here that you can have the greatest impact on your user retention and engagement.</p>

<h4>User investment at Twitter, Dropbox and LinkedIn</h4>

<p>Take Twitter as an example. As well as asking you to choose a handle, password and to register your email address during sign-up, they also encourage you to follow 5 to 10 people. This step isn’t necessary and conventional wisdom would suggest a streamlined sign-up flow would get more people completing their registration. So why push new users to start following people right away?</p>

<figure>
<img src="/static/images/twitter-onboarding.png">
<figcaption>Twitter encourages new users to follow 5 tweeters during the onboarding process</figcaption>
</figure>

<p>The answer comes from Twitter’s forensic analysis of their user retention rates. They discovered that the strongest indicator of new sign-ups who will become regular users was that these people followed five or more other Tweeters soon after joining. Following other Tweeters from the start means you’ll see content in your timeline straight away and a steady stream of new content over time, which draws you back into the service. Content from five other Tweeters seems to the be the tipping point above which Twitter found their user retention increased.</p>

<p>Dropbox and Zapier offer short-term rewards to incentivise the user investment that brings long-term value. One of Dropbox’s main value offerings is the ability to share content with other people – but this feature is only as valuable as the people you can share with. So Dropbox encourages users to get their friends and colleagues to sign up, offering a short-term reward of extra storage capacity.</p>

<p>What users might not realise is that the investment of time and social capital these invitations require also pays off in the longer term, by making Dropbox more useful to them.</p>

<p>Zapier rewards new users with extra credits to spend on automating tasks, in return for undertaking a series of actions like creating their first task, sharing a task and connecting more third-party services. Taking these steps usually makes Zapier more useful than the extra credits themselves.</p>

<figure>
<img src="/static/images/zapier-onboarding.png">
<figcaption>Zapier offers users extra tasks for user investment activities</figcaption>
</figure>

<p>LinkedIn uses a slightly different tactic for encouraging user investment: displaying a “profile completeness” score that stretches out the onboarding process beyond your first visit. Entering more of your professional experience and connecting to more contacts makes LinkedIn a better job hunting and professional networking tool.</p>

<p>Instead of encouraging you to do these things by offering freebies, LinkedIn suggests that you haven’t finished setting up your profile til you’ve done them, tapping in to the part of human nature that can’t resist increasing our ‘scores’. More complete profiles are advantageous for users (LinkedIn claims a complete profile makes you <a href="http://www.linkedin.com/static?key=pop%2Fpop_more_profile_completeness">“40 times more likely to receive opportunities”</a>) and for LinkedIn, because users are more likely to stick with a service that regularly brings them business opportunities.</p>

<figure>
<img src="/static/images/linkedin-onboarding.png">
<figcaption>LinkedIn stretches out on-boarding by telling users their profiles are not yet complete, and suggesting what still needs to be added</figcaption>
</figure>

<h4>Investment as part of a habit loop</h4>

<p>In <a href="http://www.nirandfar.com/hooked">Hooked</a>, Nir Eyal discusses how user investment plays a role in ‘habit loops’. A habit loop consists of either an internal trigger (like feeling bored) or external trigger (like an app notification), an action taken in response to the trigger, and a reward for that action.</p>

<figure>
<img src="habit-loop.png">
</figure>

<p>But there’s a fourth step that helps cement new habits, by increasing the reward users receive next time or making the triggers more common: investment. In the case of Twitter, a normal habit loop would start with feeling bored or receiving a notification of a new @reply or DM (Direct Message), which would encourage you to take action by checking Twitter, at which point you’d be rewarded with updates from friends, interesting links and the newest cute animal memes. At that point, you might want to invest in finding and following more people on Twitter. Doing this increases both the trigger (you’re more likely to get notifications) and the reward (your timeline will have more cat videos).</p>

<p>For more on habit loops, check out <a href="/writing/using-behavioural-design-make-more-engaging-products">my previous post on behavioural design</a>, and Nir Eyal’s book.</p>

<h4>Encouraging user investment in your own products</h4>

<p>To use this concept in your own products, you need to start by analysing what makes your most frequent and most profitable users different from the people who sign up and are never seen again. Do they use a particular feature more often? Do they spend the time to customise their alert preferences? Do they connect with a larger number of other users? If you’re getting stuck, start by using a simple framework like <a href="http://www.slideshare.net/dmc500hats/startup-metrics-for-pirates-long-version">Pirate Metrics</a> to identify where your funnel is leaking.</p>

<p>Once you’ve discovered what the magic ingredients are, think of ways you can encourage all your users to take these steps, whether that be through well-timed suggestions, freebies, social proof (“80% of our customers use this feature”) or something else.</p>

<p>Be careful about making these investment steps too much hard work and/or making them obligatory: this is more likely to backfire and reduce user retention. No-one likes to be told what to do.</p>

<p>Get this balance right, however, and you have user investment cracked. Now sit back and watch your retention and engagement rates climb – or think up more ways you can help users get more from your product.</p>

{% endblock %}