{% extends "blog.html" %}

{% block title %}

<h2 class="{{ page }}" style="margin-bottom:0.6em;">Has design thinking come of age?</h2>
<h3 class="{{ page }}" style="margin-top:0px; margin-bottom: 2.2em;">October 2015</h2>
{% endblock %}

{% block content %}
<p>According to the Harvard Business Review, <a href="https://hbr.org/2015/09/design-thinking-comes-of-age">design thinking has come of age</a>. It’s cheering to read that more businesses are applying the principles of design to the way they work and becoming more customer-centric in the process.</p>

<p>The article is full of inspiring, snappy quotes that I’m sure I’ll be seeing in conference slides later this year. For example, one business leader suggests that there is no longer any real distinction between business strategy and design of user experience.</p>

<p>But I have a bone to pick with this otherwise excellent article. Near the end, the author outlines where design thinking isn’t helpful: "It’s not the right set of tools for optimising, streamlining, or otherwise operating a stable business.” </p>

<p>There’s a lot to unpack here, but here are my thoughts.</p>

<h4>Optimising and streamlining businesses using design thinking</h4>

<p>The idea that design-led organisations focus on users’ experiences runs through the article but here “users” seem only to mean "customers”. There’s no reason why the same techniques can’t be used to improve the experiences of internal users, whether that’s front-line staff or head office.</p>

<p>All too often, internal systems and processes are dictated by requirements that are no longer relevant, and external contexts that changed months or years ago. There’s sometimes a nigh irresistible drive to do things the way they’ve always been done – regardless of whether better, faster and cheaper ways are now available.</p>

<p>Design tools like service blueprints map out both the user journey, and the business processes and systems that enable it. By revealing these connections, the design process helps identify elements of the organisation’s "business as usual" that can be optimised and streamlined.</p>

<p>I’ve worked on design projects that use these kinds of tools to improve the experience of internal users. Optimising business processes, and optimising the experience of internal users often have the same goals. Design-led approaches that make things faster and easier for staff, necessarily improve efficiency and effectiveness.</p>

<h4>You can’t make better customer experiences without a little organisational optimisation</h4>

<p>Even if the design process focuses on users who are customers, it should deliver some improvement of business process, as part of an improved customer service.</p>

<p>Elsewhere, the article states that design thinking favours creating models to examine complex problems. It quotes a designer saying that one such model, a customer journey map, "helped us develop a strategic way to think about changing the entire organisation".</p>

<p>This is the reality of design thinking: you can’t transform the customer experience without changing the organisation.</p>

<p>In many organisations, the customer experience is driven by what’s easiest to implement, and shaped by legacy processes and attitudes within the organisation. Without changing these elements, you’ll be severely restricted in what you can actually do to improve things for customers.</p>

<h4>“Stable businesses” need design thinking more than anyone</h4>

<p>I’m not quite sure what the author means by “stable” here. From the context, I’m guessing that he means the businesses which have gone through a transformation led by design thinking, and they’re now “done” or “fixed”.</p>

<p>While continuous improvement may be more associated with agile methodologies, Lean or Kaizen, it is also a part of design thinking. The iterative cycle of design, prototype, test and refine is at the core of how design thinking works in practice.</p>

<p>While stable businesses may once have been able to rest on their laurels, this is now a dangerous or even fatal strategy. There’s probably no need to rehearse the argument for this readership. In summary: Blockbuster versus Netflix; HMV versus iTunes and torrents; Kodak versus Canon and Apple.</p>

<p>Like agile, design thinking has the least impact when it’s treated as a one-time process, as a plaster on a wound. Its most effective implementation is a truly radical one. Organisations must put the principles of these methodologies at the heart of the business, and adopt them in practice from the highest levels to the lowest.</p>

<p>Until more organisations recognise this, design thinking has not come of age.</p>
{% endblock %}