{% extends "blog.html" %}

{% block title %}

<h2 class="{{ page }}" style="margin-bottom:0.6em;">Product psychology resources</h2>
<h3 class="{{ page }}" style="margin-top:0px; margin-bottom: 2.2em;">Last updated September 2016</h2>
{% endblock %}

{% block content %}
<h4>Cognitive bias & dual process model of reasoning</h4>
<ul class="nodots">
<li class="book"><a href="https://www.amazon.co.uk/Thinking-Fast-Slow-Daniel-Kahneman/dp/0141033576">Thinking, Fast & Slow, by Daniel Kahneman</a></li>
<li class="book"><a href="https://www.amazon.co.uk/Predictably-Irrational-Hidden-Forces-Decisions/dp/0007256531/">Predictably Irrational, by Dan Ariely</a></li>
<li class="blog"><a href="http://advanced-hindsight.com/resources/">Free resources from Dan Ariely's Center for Advanced Hindsight</a></li>
<li class="book"><a href="https://www.amazon.co.uk/Nudge-Improving-Decisions-Health-Happiness/dp/0141040017">Nudge, by Cass Sunstein & Richard Thaler</a></li>
<li class="blog"><a href="http://coglode.com/">Cognitive Lode</a></li>
<li class="video"><a href="http://www.mindtheproduct.com/2015/10/video-5-psychological-principles-of-persuasive-product-design-by-nathalie-nahai/">5 principles of persuasive product design, by Nathalie Nahai</a></li>

</ul>

<h4>Habits & behaviour change</h4>
<ul class="nodots">
<li class="book"><a href="https://www.amazon.co.uk/Power-Habit-Why-What-Change/dp/1847946240/">The Power of Habit, by Charles Duhigg</a></li>
<li class="book"><a href="https://www.amazon.co.uk/Hooked-How-Build-Habit-Forming-Products/dp/0241184835">Hooked, by Nir Eyal</a></li>
<li class="video"><a href="http://www.youtube.com/watch?v=TDRQfGT6GtE">Nir Eyal doing a presentation version of Hooked</a></li>
<li class="book"><a href="https://www.amazon.co.uk/Persuasive-Technology-Computers-Interactive-Technologies/dp/B000VO18UQ/">Persuasive technology, by B J Fogg</a></li>
<li class="blog"><a href="http://www.behaviormodel.org/">B J Fogg's behaviour map</a></li>
<li class="blog"><a href="http://behaviorgrid.org/">B J Fogg's behaviour grid</a></li>
<li class="blog"><a href="http://www.tinyhabits.com/">Tiny Habits project</a></li>
</ul>

<h4>Memory</h4>
<ul class="nodots">
<li class="podcast"><a href="http://www.radiolab.org/story/91569-memory-and-forgetting/">Memory and forgetting, Radiolab podcast episode</a></li>
<li class="video"><a href="https://www.ted.com/talks/elizabeth_loftus_the_fiction_of_memory">The fiction of memory, by Elizabeth Loftus</a></li>
<li class="video"><a href="https://www.ted.com/talks/daniel_kahneman_the_riddle_of_experience_vs_memory">The riddle of experience versus memory, by Daniel Kahneman</a></li>
</ul>

<h4>Cognitive load</h4>
<ul class="nodots">
<li class="blog"><a href="https://www.nngroup.com/articles/minimize-cognitive-load/">Minimise cognitive load to maximise usability, by Nielsen Norman Group</a></li>
<li class="blog"><a href="http://seriouspony.com/blog/2013/7/24/your-app-makes-me-fat">Your app makes me fat, by Kathy Sierra</a></li>
<li class="video"><a href="https://vimeo.com/106659444">Building Badass Users: designing for cognitive resources, by Kathy Sierra</a></li>
</ul>

<h4>Multiple topics</h4>
<ul class="nodots">
<li class="blog"><a href="http://www.productpsychology.com/">Product psychology email course</a></li>
<li class="blog"><a href="http://toolkit.adaptivelab.com/ux-service-design/behavioural-design-tools/">Intro to behavioural design that I wrote for a former employer</a></li>
</ul>

<figcaption>Icons by <a href="https://thenounproject.com/search/?q=video&i=558737">Aybige Aya (Video)</a>, <a href="https://thenounproject.com/search/?q=book&i=540404">Ralf Schmitzer (book)</a>, <a href="https://thenounproject.com/search/?q=podcast&i=265585">Yuri Mazursky (headphones)</a></figcaption>

{% endblock %}