{% extends "blog.html" %}

{% block title %}

<h2 class="{{ page }}" style="margin-bottom:0.6em;">Prototype your product proposition</h2>
<h3 class="{{ page }}" style="margin-top:0px; margin-bottom: 2.2em;">May 2014</h2>
{% endblock %}

{% block content %}
<p>‘Marketing’ sometimes seems like it’s a dirty word to people involved in new product development. It’s a short-sighted view, and one that that limits the abilities of innovation/NPD teams to release successful new products.</p>

<p>One of the strongest indicators of success is the ability of consumers to easily understand the product you’re offering them. If they can’t understand what your shiny new product is and what it would do for them, you’ll struggle to get any users, let alone long-term, engaged, paying users.</p>

<p>So, how do you include marketing in your new product development? One of the simplest, fastest ways is to use the same kind of prototyping and user research techniques you’re already using to develop your product ideas. (You are doing prototyping and user research, right?) In this post, I’ll introduce you to one of my favourite tools for discovering the best way to frame your product proposition: pitch testing.</p>

<h4>What is pitch testing?</h4>

<p>To run a pitch test, you set up a few PPC campaigns and one or more dummy landing pages, each expressing your product’s value offering(s) in a slightly different way. The most successful ads will give you a steer on which version of your product proposition is most compelling.</p>

<p>A few pointers to help you find your feet:</p>

<ul>
<li>Think carefully about which keywords you’ll advertise on. We use a tool called an Adoption Map to think about people’s latent needs and the trigger events that make them open to using a new product/service to satisfy those needs. <a href="/static/documents/Adoption+Map+template.pdf" class="{{page}}">Find a template here</a></li>

<li>Test the widest variety of different adverts you can, to find that killer hook. If you have user personas and adoption maps, review these and think about what would draw in different types of users.</li>

<li>For the simplest version of this test, focus on the click-through rate for the ads, and leave the landing page as basic as you like. By setting your campaigns to optimise for clicks and letting Google prioritise the ads that get more clicks (which is the default setting), you’ll easily get a sense of what draws people in most effectively.</li>

<li>Alternatively, with a little more work, you can learn more. Set up a variety of landing pages, to test different feature lists, pricing models and/or calls to action. Include a ‘sign up’ or ‘free trial’ button in each of them. Set your campaigns to optimise for conversions to discover which proposition/pricing/feature set motivates the most sign-ups. For this kind of test you’ll need Google Analytics integration.</li>

<li>When thinking about how you'll describe your product proposition, think about what users will want to know. The most common problems with landing page copy are that taking too long to get to the point, and using glib phrases like “It’s X made simple” rather than explaining what the product actually does. You can find more advice on great landing page copy in <a href="http://ryangum.com/value-propositions-describe-your-startup/" class="{{page}}">this great blog post</a>.</li>
</ul>

<h4>Why use pitch testing?</h4>

<p>Marketing campaigns are expensive, and it can sometimes be hard to tweak and iterate on campaigns after they’re running. Pitch testing lets you hone your message and validate its appeal before you invest a significant chunk of your marketing budget.</p>

<p>Being clear on the product proposition also helps you build your product. For instance, you can shape your on-boarding process to fit into the narrative your marketing has started. Maybe pitch testing will show you that, of the three features you’re considering, users can see daily use-cases for two of them, while the third feature is something they’d only use occasionally. What impact would that have on your roadmap? What about your navigation structure?</p>

<h4>Pitch testing without developers</h4>

<p>One of the best things about these kinds of tests is that it’s pretty easy to run them with minimal developer involvement, or none at all.</p>

<p>For the simplest version of the tests, you can set up a landing page (or multiple landing pages) without needing to write any code, using services like Unbounce, Launchrock or Kickoff Labs.</p>

<p>These services will also allow you to add a simple form to your landing pages so you can capture email addresses from people who click on your ads and are interested in the product. It's best to be honest with users at this point, and ‘fess up that the product's still in development but you'd be happy to let them know when it’s launched. The people who register might be willing to give you more in-depth feedback on their needs and what they make of your product, or be your beta users. You‘ve also got the beginnings of a marketing list for your product when it is launched (if you get their permission to market to them).</p>

{% endblock %}