{% extends "blog.html" %}

{% block title %}

<h2 class="{{ page }}" style="margin-bottom:0.6em;">Uberfication, the 'sharing economy' and optimising away human interaction</h2>
<h3 class="{{ page }}" style="margin-top:0px; margin-bottom: 2.2em;">September 2014</h2>
{% endblock %}

{% block content %}
<p><strong>Are services which offer a more convenient way to accomplish our tasks optimising away human interaction? And is that dehumanising, or merely pragmatic, or both?</strong></p>

<h4>What do we mean when we talk about convenience?</h4>

<p>I learnt a new word at the Mind the Product conference earlier this month: ‘uberfication’. Des Traynor used it in his talk on product strategy to describe the kind of radical simplification Uber uses to turn the multi-step process of booking a minicab into a one-tap interaction. Uberfication takes the common product promise of convenience (“[something] made easy”) to a new extreme.</p>

<p>It’s hard to argue against convenience, but only a few weeks later I heard <a href="http://suitpossum.blogspot.co.uk/" class"{{page}}">Brett Scott</a> do just that, at a talk on the future of money hosted as part of Design Week. Scott drew a distinction between services that empower their users through knowledge, and those that empower their users through convenience. He went on to criticise services in the latter category, because they treat human interaction as something innately inefficient that needs to be removed, which is ultimately dehumanising.</p>

<p>I don’t think that convenience is simply the removal of human interaction (and nor do I think Scott was being that reductive). Really, the convenience offered by services/apps/products is usually either a lower barrier to entry or a lower ‘cost’ in time or effort to accomplish various things.</p>

<p>Task Rabbit lowers the barrier to entry for a personal assistant. Instead of having to interview and hire someone for a permanent role as my assistant, or at least a contract of several months, I can contract with someone only for a specific task.</p>

<p>Ordering a minicab through Uber is much faster than calling around different minicab services to find the closest cab and/or the cheapest fare. In fact, it’s considerably faster than using an app which simply automates the existing process, like Kabbee.</p>

<img src="/static/images/uber-v-kabbee.png" alt="The cover of the ebook 'Bad reviews are good for business'" style="width: 500px">

<h4>The problems with human interaction</h4>

<p>Human interaction is seen as an inefficiency to be optimised away by services like Uber partly because human interaction <strong>is</strong> sometimes an inefficient way to complete tasks.</p>

<p>Human interaction doesn’t scale well. Services that offer curation have made more and more use of algorithms because, although humans may be far better at some kinds of curation, their curation would take so very much longer that the services based on it would be bad for users, and unsustainable for businesses. I remember asking the video shop clerk for movie recommendations in my early teens; but now I and millions like me use Netflix’s social and algorithmic suggestions. What we sacrifice in personalisation, we gain in breadth.</p>

<p>Human interactions are often high effort for everyone involved: the ‘end user’, the ‘service provider’ and any intermediaries. I’d rather spend 20 minutes of my time looking through different date and time slots on a restaurant’s online booking service than have a 20 minute phonecall with one of their staff. The screen is far less taxing than the phone conversation would be.</p>

<h4>What’s so great about human interaction anyway?</h4>

<p>Up til now, I’ve been going along with an assumption that underlies Brett Scott’s criticism: that human interactions are <strong>better</strong> in some way than machine alternatives.</p>

<p>Connection with other humans comes third on Maslow’s hierarchy of needs, which makes it less important only than keeping our bodies running (sleep, oxygen and so on), and staying safe. Yet this kind of essential connection is generally interpreted to be a meaningful connection with people who we care for. If you’re lonely, a bland conversation with a stranger isn’t likely to remove your loneliness. The kind of human interactions we’re optimising out of our services are closer to a utilitarian conversation with a stranger than they are to any meaningful intercourse.</p>

<img src="/static/images/maslow.png" alt="Maslow's hierarchy of needs" style="width: 500px">

<p>There’s something to be said for human interaction offering a better interface than a machine. For some kinds of interactions, machines are at best only as smart as a puppy (in <a href="http://berglondon.com/blog/2010/09/04/b-a-s-a-a-p/" class="{{page}}">Matt Jones’ memorable phrase</a>) and so we’re better off with a human who can parse our umms and errs and fuzzy metaphors. Humans generally handle edge cases far, far better than even the most well-designed machine.</p>

<p>But there are plenty of interactions for which the intelligence of a puppy is plenty. Isn’t it worse to have humans performing these repetitive, bland tasks than to have a puppy-smart machine do them? Is it really worse that we don’t have human typesetters working on the laborious process of laying out even the most ephemeral text, letter by letter. Computer typesetting has proved sufficient for a huge number of cases, and humans still undertake the remaining cases (usually assisted by computers) where a higher level of typographical beauty is desired.</p>

<p>To return to Uber: I don’t believe that it’s worse for me or for minicab drivers to have the booking process  mediated by machines. I don’t think the human-to-human interaction exactly dehumanises the person on the other end of the phone, but I’d guess they are usually not being treated as a fellow human with all the glorious complexity that connotes, but rather being treated as a means to an end.</p>

<p>On the other hand, I wouldn’t like to hand over to machines a conversation with a bartender over what they’d particularly recommend on a menu, or with a stall-holder at a market on the details of their produce. So far as I can tell, Silicon Valley doesn't have its optimising eye on these kinds of interactions.</p>

<p>Perhaps we’re already self-regulating our optimisation/de-humanisation, so that machines do what they can do better than humans, and humans stick to what they can do better than machines.</p>

<p>For introverts like me, this is ideal. Any human interaction depletes my energy, no matter how pleasant or unpleasant it is. I don’t want to optimise away all human interactions, but I do want to stop wasting mental energy on the ones that don’t have the potential to be better (in experience or results) than the machine equivalent.</p>

<h4>What do humans do better than machines?</h4>

<p>There’s a flip side to the advantages of giving machines all the work they can do better than people.¹ It now seems unlikely that this mass delegation to machines is going to lead to the 15-hour working week that Keynes predicted in 1930.²</p>

<p>That means that the humans who have been outperformed by machines will need to find things that they do better than machines and that provide them with at least a living wage. At the moment, it seems like we’re doing badly at this as a society, and people can be left with an unpalatable choice between long-term unemployment (and the threadbare welfare safety net and tabloid vilification that goes with it), or precarious zero-hour contracts, or ‘jobs’ in the sharing economy.³</p>

<p>This is hardly new. Machines have been outperforming humans for centuries, and it’s probably only better security and higher penalties for property damage that stop people destroying servers like our ancestors destroyed Spinning Jennies.</p>

Spinning Jenny: much more smashable than a server farm

<p>Mass unemployment is a price-tag that often accompanies technological advances and, from the long-term view, this ultimately doesn’t outweigh the advantages. Eventually, the people put out of work by machines find new work that machines aren’t as good at (or won’t be for a few years, or decades, at least) and we all benefit from the technological advances. I don’t know my economic history well enough to be certain, but I  suspect that the short-term is usually pretty nasty for these people.</p>

<p>I’d like to think that some of the uniquely human ingenuity we use to make these puppy-smart machines can be put to work on finding a solution more quickly than the invisible hand has done in the past. </p>

<p>Maybe this is the real problem with focusing all our energy on a more convenient way to book minicabs, get dogs walked, houses cleaned and say Yo!</p>

<hr> 

<ol>
<li>45% of all jobs, apparently, according to this Forbes article</li>
<li>Keynes died too soon to take into account the hedonic treadmill or the unstoppable power of a capitalist society to make people want things they don’t need. A more reasoned explanation can be found in this 2008 Guardian article.</li>
<li>More on why the sharing economy is bad news for workers in this article by Dawn Foster</li>
</ol>

{% endblock %}