{% extends "blog.html" %}

{% block title %}

<h2 class="{{ page }}" style="margin-bottom:0.6em;">Using behavioural design to make more engaging products</h2>
<h3 class="{{ page }}" style="margin-top:0px; margin-bottom: 2.2em;">February 2014</h2>
{% endblock %}

{% block content %}
<p>How do you get users to want to do what you want them to do? No matter how much effort you put into an amazing marketing site, a slick launch campaign or a frictionless user on-boarding flow, you may still end up tearing out your hair about low retention rates and falling user engagement.</p>

<p>That’s where behavioural design comes in. Over the last few months, I’ve been on a crash course in behavioural science as part of a project focused on improving online banking for users and for banks.</p>

<p>In case you don’t have a few months to take a deep dive into the topic, here’s a ten minute primer into behavioural design and the science behind it.</p>

<h4>What is behavioural design?</h4>

<p>Behavioural design is design that uses ideas taken from behavioural science: the study of why people behave as they do. Behavioural science investigates questions like how we form habits, how we make decisions, and how different kinds of bias impact our thinking.</p>

<h4>Why is it useful for product design?</h4>

<p>Why wouldn’t understanding user behaviour be useful for product design? Aside from this obvious point, behavioural science’s insights into decision making and habit-formation help you to influence users to behave the way you want them to – and make them want to behave that way too.</p>

<p>Behavioural science already exerts a strong influence on marketing strategies. For instance, behavioural science teaches us that people are more likely to choose options that we perceive as popular with the kind of groups we want to be part of. So when you’re trying to persuade marketing professionals to choose your product over a competitor’s, you could try telling them that your product is “used by over 10,000 savvy marketers” (or however many customers you actually have). What right-minded marketer wouldn’t want to think of themselves as part of that crowd?</p>

<p>The same kind of herd mentality is used in ecommerce, by companies like Expedia and EasyJet. By telling casual browsers that a particular option has been bought by 1000 people so far this week, we trade on the common bias that makes us think popular options are better.</p>

<figure>
<img src="/static/images/easyjet-popularity.jpeg">
<figcaption>Alert shown by EasyJet saying "74 people currently looking at this route"</figcaption>
</figure>

<p>We could use another idea from behavioural science to persuade people to upgrade to a paid subscription after a free trial: loss aversion. People are disproportionately upset by losing something they have, and go to quite remarkable lengths to avoid this happening. They’ll do more to prevent the loss of something than they’d do to get it in the first place. You can use this bias to encourage users to upgrade by only giving free trials of the most fully-featured package you offer. Just before the end of the trial, let users know they’ll soon be losing all these useful features and returning to the most the basic free version – unless, of course, they sign up for a paid subscription.</p>

<h4>Is behavioural design immoral?</h4>

<p>The previous examples are excellent illustrations of how behavioural design can be used to influence people away from what they would normally choose – often to their detriment and someone else’s advantage. However, behavioural design can also encourage people to make the best choices for them, rather than just the best choices for the designer.</p>

<p>Behavioural science has shown that only a small number of people change from the default settings across a range of different products, services and situations. This means that time and thought spent on the default settings of your product will improve the experience of more of your users than anything else you do.</p>

<p>Thoughtful consideration of default alert settings, for instance, could make the difference between a product that offers its users a genuinely helpful experience and one that annoys them with excessive or ill-timed notifications. Incorporating sensible defaults into your onboarding flow reduces the time users need to invest in your product before they see any benefit, improving their experience and reducing sign-up abandonments.</p>

<h4>Why all the fuss about habits?</h4>
<p>One of the areas of behavioural science that’s most interesting to product makers is the research on habit formation. If users build up habits around your product (like reading articles on Flipboard every Sunday morning over coffee and croissants, or checking in using Foursquare every time they enter a café or bar) you get an solid head-start on user engagement and retention.</p>

<p>Behavioural science gives you a framework to think about how habits work, and what makes them easier to form. You start with a simple model of a habit loop, like this:</p>

<figure>
<img src="/static/images/habit-loop.png">
</figure>

<p>Then you focus on each part in turn: making your trigger effective at inspiring action; making it really easy to move from trigger to action; making the action simple and quick to perform; making the reward as big and as immediate as possible. By optimising as many of these elements as you can, you make it far easier for habits to form around your product.</p>

<p>One of the most powerful lessons I’ve learnt is that rewards don’t have to be external; they’re often most effective when they’re not. You don’t need to reward your users with money or freebies when they perform the action you want to make into a habit. It’s far more effective to reward them with a positive emotion: pride, or joy, or amusement. You can create these emotions with well-crafted copy, beautiful design and cleverly-timed <a href="http://en.wikipedia.org/wiki/Kano_model#Attractive_Quality:_Excitement_Attributes">‘delighters’</a>.</p>

<h4>Find out more</h4>

<p>Here are a few of the books, blogs and resources that I’ve found useful in understanding behavioural science and how it can be used in product design:</p>

<ul>
<li><a href="http://www.behaviorwizard.org/wp/behavior-grid/">BJ Fogg’s behaviour grid</a>: lots of research into behavioural change distilled into an intensely useful format by the founder of the Stanford Persuasive Technology Lab</li>
<li><a href="http://blogs.cabinetoffice.gov.uk/behavioural-insights-team/">The ‘Nudge unit’ blog</a>: posts from the staff at the Cabinet Office’s behavioural insights team</li>
<li><a href="http://www.youtube.com/watch?v=TDRQfGT6GtE">Nir Eyal’s talk on using the habit loop to make stickier products</a></li>
<li><a href="http://en.wikipedia.org/wiki/List_of_cognitive_biases">Wikipedia’s list of cognitive biases</a></li>
<li><a hef="http://www.amazon.co.uk/Power-Habit-Why-What-Change/dp/1847946240">The Power of Habit</a>: research into habit formation brought to life with dozens of examples</li>
<li><a href="http://www.amazon.co.uk/gp/bestsellers/books/659930">Nudge</a>: a hugely influential Gladwell-style introduction to the area, focusing particularly on interventions that aim to help people. Also discusses the moral implications of using behavioural science.</li>
<li><a href="http://www.amazon.co.uk/Thinking-Fast-Slow-Daniel-Kahneman/dp/0141033576">Thinking, Fast and Slow</a>: an introduction to the two very different mental systems we use to make decisions</li>
</ul>
{% endblock %}