{% extends "blog.html" %}

{% block title %}

<h2 class="{{ page }}" style="margin-bottom:0.6em;">What I learnt at Dare conference</h2>
<h3 class="{{ page }}" style="margin-top:0px; margin-bottom: 2.2em;">October 2013</h2>
{% endblock %}

{% block content %}
<p>In the autumn of 2013, I went to the first ever Dare Conference. Dare is a conference about people skills for digital workers – perhaps the only conference on this theme. I’m always interested in improving my ability to collaborate and lead teams, which is why I attended. I hadn’t expected to learn so much more about trying, failing and picking yourself back up again.</p>

<p>I’d recommend Dare to pretty much everyone who works with other people, especially in technical or creative disciplines. You can watch videos of last year’s event, or pick up tickets for the September 2014 conference. Maybe I’ll see you there?</p>

<a href="https://prezi.com/embed/to6-v8o24hhu/"  target="_blank"><img src="/static/images/dare.png" alt="The cover of the ebook ’Bad reviews are good for business’" style="width:485px;"></a>

{% endblock %}