<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page|title }} - Kat Matfield</title>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/unsemantic-grid.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Lato:300,400,700" rel="stylesheet">
</head>
<body>
    <main class="grid-container">
	     <div class='grid-100 mobile-grid-100 tablet-grid-100'>
	     <div class="nav">
	     	<h5><a href="/making" class="{{ page }}">Making</a></h5>
	     	<h5><a href="/writing" class="writing">Writing</a></h5>
	     	<h5><a href="/reading" class="reading">Reading</a></h5>
	     	<h5><a href="/talking" class="talking">Talking</a></h5>
	     	<h5><a href="/working" class="working">Working</a></h5>
		    
	     	{% block title %}{% endblock %}

		 </div>
		 <div class="content">
		 	{% block content %}{% endblock %}
		</div>
		 <div class='bottom-nav'>
		    <h3><a class="{{ page }}" href="http://www.twitter.com/lovedaybrooke">@lovedaybrooke</a><a class="{{ page }}" href="">katmatfield@gmail.com</a></h3>
		 </div>
		 </div>
	</main>
 
</body>
</html>