<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kat Matfield's personal website</title>
    <link rel="stylesheet" type="text/css" href="static/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="static/stylesheets/unsemantic-grid.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Lato:400,700" rel="stylesheet">
</head>
<body>
    <main class="grid-container home">
	     <div class='grid-100 mobile-grid-100 tablet-grid-100'>
		    <h1>Hey.  I'm Kat Matfield.  Here's what I've been <a href="/making" class="making">making</a>, <a href="/writing" class="writing">writing</a>, <a href="/reading" class="reading">reading</a>, <a href="/working" class="working">working on</a>, and <a href="/talking" class="talking">talking about</a> lately.</h1>
		 </div>
	</main>
 
</body>
</html>