{% extends "base.html" %}

{% block content %}

<p>I've been tracking the books I read for a couple of years using an app I built called Shelvd. Check out the <a class="{{page}}" href="http://shelvd.katmatfield.com">Shelvd</a> site to see which books I've been reading recently (or take a look at <a class="{{page}}" href="https://github.com/lovedaybrooke/Shelvd">the source code</a>).</p>

<p>With Shelvd's help, I've put together a quick summary of my reading in 2015.</p>

<figure><a href="/static/documents/what-i-read-in-2015-kat-matfield.pdf" target="_blank"><img src="/static/images/Kat_Matfield-Shelvd-2015.png" alt="A data visualisation showing data on my reading in 2015" /></a></figure>

{% endblock %}