{% extends "base.html" %}

{% block content %}

<p><a href="/writing/research-irrational-world" class="{{page}}">How to do effective research in an irrational world</a>
<br>September 2016<span class="spacer"> ⟡ </span>Agile on the Beach
<br>Behavioural psychology has uncovered how unrealiable people's memories are, along with their abilities to predict their future actions or emotions, or even answer questions about their present feelings truthfully. This talk gives some details of these aspects of human irrationality, and suggests some way UX research can get to the truth regardless.</p>

<p><strong>Privacy: I do not think that word means what you think it means</strong>
<br>July 2015<span class="spacer"> ⟡ </span>OpenTech
<br>I spent half of 2014 working on a privacy product for mainstream users. In this talk I shared the most useful and/or interesting discoveries from this project, including what I learnt about the role of 'security theatre' in digital design.</p>

<p><a href="https://vimeo.com/148545335" class="{{page}}">Why you shouldn't (always) listen to your users</a>
<br>May 2015<span class="spacer"> ⟡ </span>UserConf London
<br>You can't always trust what your users say. This talk explained how cognitive bias and other psychological quirks can prevent research participants from telling you the truth, and suggested some ways to get around these problems.</p>

<p><a href="https://vimeo.com/123666508" class="{{page}}">Behavioural Design: what why and how</a>
<br>March 2015<span class="spacer"> ⟡ </span>Product Tank London
<br>This month's Product Tank was focused on product psychology. My talk focused on the pragmatic: how do you take what psychology teaches about the way people choose and behave, and use it in your design process.</p>

<p><a href="https://www.youtube.com/watch?v=8bVpVP7QD5s" class="{{page}}">Ignite talk: 5 lies we tell each other about creativity</a>
<br>November 2013<span class="spacer"> ⟡ </span>Ignite at Strata
<br>Conventional wisdom on creativity is often flat-out wrong. In this lightning talk I busted five of the biggest myths about creative work.</p>

{% endblock %}