{% extends "base.html" %}

{% block content %}
	 <h2 style="margin-bottom: 10px">What is Alexa? What is Google Home?</h2>

	 <figure><img src="/static/images/robot-assistants.png" /></figure>

	 <p>It’s obvious, surely? They're voice-controlled assistants, built in to various different devices that sit in your home or travel around with you. That’s certainly one answer, but I’m interested in digging deeper.</p>

	 <p>Think of it this way: a car is a vehicle, but it’s also a technology that helped create the suburb, something that represents freedom and even sexual discovery for some people, and reminds others of mind-numbing daily commutes. A car's <strong>cultural meanings</strong> go far beyond being just a means of transport.</p>

	 <p>It's these cultural meanings I want to study, as part of my Masters in Digital Anthropology. And I could really do with your help.</p>

	 <h3>Take part in my research</h3>

	 <p>I’ve wrapped up my fieldwork so I'm not looking for any more participants.</p>
	 



{% endblock %}