{% extends "base.html" %}

{% block content %}
	 <h2 style="margin-bottom: 10px">What is Alexa? What is Google Home?</h2>

	 <figure><img src="/static/images/robot-assistants.png" /></figure>

	 <p>It’s obvious, surely? They're voice-controlled assistants, built in to various different devices that sit in your home or travel around with you. That’s certainly one answer, but I’m interested in digging deeper.</p>

	 <p>Think of it this way: a car is a vehicle, but it’s also a technology that helped create the suburb, something that represents freedom and even sexual discovery for some people, and reminds others of mind-numbing daily commutes. A car's <strong>cultural meanings</strong> go far beyond being just a means of transport.</p>

	 <p>It's these cultural meanings I want to study, as part of my Masters in Digital Anthropology. And I could really do with your help.</p>

	 <h3>Take part in my research</h3>

	 <p>I’m looking for people to interview, to hang out with, to discuss Alexa/Google Home, and/or dig into their own usage data, to help me get to those cultural meanings. In particular, I’m looking for people who:</p>
	 <ul>
	 	<li>have 1+ Alexa/Google Home devices in their homes, that they interact with regularly</li>
	 	<li>work in tech, in any kind of job (eg designer, developer, product manager, marketing, ops...)</li>
	 	<li><strong>don't</strong> work on voice UIs/virtual assistants/AI</li>
	 	<li><i>ideally</i> live in London, England</li>
	 </ul>
	 <p>If this sounds like you, I'd love to have your help.</p>
	  <a class="button" href="https://katmatfield.typeform.com/to/PUxDZT">Join the research</a>
	 

	 <h3>FAQs</h3>
	 <h4>What will I be asked to do?</h4>
	 <p>There are a few ways you can be involved:</p>
	 <ul>
	 	<li><strong>Interview:</strong> I interview you about how you interact with your Alexa, in person (ideally), or over video chat</li>
	 	<li><strong>Home visit:</strong> I'll spend a few hours hanging out with you at home, at a time that suits you. We'll chat a little, and I'll observe how you (and the people you live with) interact with Alexa.</li>
	 	<li><strong>Collaborative data analysis:</strong> together, we'll analyse the data you can get from Amazon about how you use Alexa, to see what sort of data they're collecting and what it reveals about your interactions with Alexa.</li>
	 	<li><strong>Survey:</strong> near the end of the project, I'll run a short survey to see how commonplace what I've discovered is among Alexa owners.</li>
	 </ul>
	 <p>In all of these cases, I'll make sure you're happy and comfortable with what we do beforehand and during. If you want to stop at any time, or me to leave, you can do that.</p>

	 <h4>Do I need to own an Alexa/Google Home device to take part?</h4>
	 <p>You will either need to own an Alexa-enabled device, or a Google Home, or another device that has a voice assistant feature that <strong>stays in your home</strong>.</p>
	 <p>If the only voice assistant you regularly interact with is Siri/Cortana on your phone, I'm afraid you aren't suitable for this research.</p>

	 <h4>What happens to the data you collect?</h4>
	 <p>I'll assign everyone in the project a pseudonym, and all my notes and research outputs will refer to them by that pseudonym. My notes are encrypted and only I have access to them. I'll do everything I can to stop it being possible to identify you from the final outputs of this research.</p>
	 <p>I won't share this raw data with anyone, ever – and that includes not sharing it with Amazon.</p>
	 <p>Over the summer, I'll write up a 15,000 word dissertation 😱 on what I've learnt. That dissertation will be submitted to the academics in the Anthropology Department at University College London, and they will be the only people who read it. Before I submit it, I'll share with you a full list of the data about you that I'd like to use, and I'll only use what you agree is ok.</p>
	 <p>I'd also like to write a few blog posts and maybe give a conference talk or two. Again, all data will be pseudonymised/anonymised, so it will be as impossible to identify you as I can make it. I'll check with you before publishing/presenting, and only include info about you that you agree is ok.</p>

	 <h4>What if I want to drop out?</h4>
	 <p>If you decide during the research that you no longer want to be part of it, you can drop out without any negative consequences. I totally understand, and I won't make you feel bad about it.</p>
	 <p>You can also decide to withdraw your consent for me to use any data I've collected. If you do this, I'll delete all your data and it won't be used in my dissertation/blog posts/conference talks. However, one catch: you'll need to tell me you want to revoke consent before May 31st 2019. At that point, I'll start writing my dissertation and it will be very hard to remove all conclusions that have been partly based on your data.</p>

	  <h4>Why are you doing this research?</h4>
	  <p>The simplest answer to this is because I'm writing a dissertation, as part of a Masters course in Digital Anthropology, at University College London. I'm not receiving any funding for this project, nor is it in any way associated with Amazon/Google.</p>
	  <p>The longer answer is that I think now is a really interesting time to study people's interactions with and views of AI – because the AI most people encounter day to day is still pretty limited and, well, kind of rubbish.</p>
	  <p>I want to study Alexa/Google Home in particular because I think there's something interesting about technology you let into your home; and because Alexa/Google Home is both a kind of AI you know you're interacting with (unlike, say, customer support bots) but also something it's easy to forget about.</p>
	  <p>In anthropology, we try not to think too much about what we'll find before we start doing fieldwork, so we can keep an open mind about what we actually learn. So that's all I really know for now.</p>

	  <h4>I have other questions</h4>
	  <p>You can see more information about this project on the <a href="/static/documents/What is Alexa – participant information sheet.pdf">project info sheet</a>. Or contact me on <a href="mailto:katmatfield@gmail.com">katmatfield@gmail.com</a></p>



{% endblock %}