{% extends "base.html" %}

{% block content %}

<p>I'm currently working as a Product Manager for <a href="https://www.skyscanner.net">Skyscanner</a>, helping design new and better ways to plan and book travel using the Skyscanner app.</p>

<p>Previously, I worked as Head of Product for Silicon Milkround, doing a combination of product strategy, agile delivery, user research, UX and multichannel service design, and a little process optimatisation.</p>

<p>Before that, I was a Service Designer/Product Manager at <a href="https://www.adaptivelab.com">Adaptive Lab</a>, an innovation consultancy. My role at Adaptive was a hybrid of service designer, product owner, scrum master, and usability researcher. My work focused on the areas of consumer finance; identity and privacy; and ways to apply insights from behavioural science to service design.</p>

<p>You can find out more about my work on <a href="http://www.linkedin.com/in/katmatfield">my LinkedIn profile</a>, or in <a href="/static/documents/Kat_Matfield_CV-Feb_2016.pdf" title="Kat Matfield CV">my CV</a>. 

{% endblock %}