{% extends "base.html" %}

{% block content %}

<p>I'm currently working as a product manager at <a href="https://11fs.com">11:FS</a>, helping to design the next generation of fintechs for clients, and to take the 11:FS's own products to the next level. Previously, I've worked at start-ups (<a href="https://www.skyscanner.net/">Skyscanner</a>, <a href="https://www.siliconmilkroundabout.com/">Silicon Milkroundabout</a>, <a href="https://www.reevoo.com/en/">Reevoo</a>) and at an innovation agency (<a href="https://www.adaptivelab.com/">Adaptive Lab</a>) in various product and service design roles.

<p>I come at product management from the UX side of the discipline, although I'm also very comfortable on the technical side of things. My approach is user-centred, data-driven and iterative. I believe the best products emerge from highly collaborative cross-functional teams where everyone has a stake in <i>what</i> is being built and a clear understanding of <i>why</i>, rather than just concerning themselves with <i>how</i> to deliver it. Running, analysing and sharing the insights from multimodal user research is my happy place, and I'm a nerd for the ways behavioural psychology can influence user behaviour and thus can be used to improve design.</p>

<p>You can find out more about my work on <a href="http://www.linkedin.com/in/katmatfield">my LinkedIn profile</a>, or in <a href="/static/documents/Kat Matfield CV – Nov 2019.pdf" title="Kat Matfield CV">my CV</a>. 

{% endblock %}