{% extends "base.html" %}

{% block content %}


<p><a class="{{page}}" href="https://11fs.com/blog/how-to-use-behavioural-design-brilliantly">Three fintechs using behavioural design brilliantly</a><br>April 2019<span class="spacer"> ⟡ </span>11:FS</p>


<p><a class="{{page}}" href="https://11fs.com/blog/dont-design-financial-products-design-financial-behaviour">Don't design financial products: design financial behaviour</a><br>March 2019<span class="spacer"> ⟡ </span>11:FS</p>

<p><a class="{{page}}" href="http://realbusiness.co.uk/article/31795-has-design-thinking-really-come-of-age">Has design thinking really come of age?</a><br>October 2015<span class="spacer"> ⟡ </span>Real Business</p>

<p><a class="{{page}}" href="https://adaptivelab.com/thoughts/design/opinion-beyond-habits-and-nudges/">Beyond habits and nudges</a><br>
August 2015<span class="spacer"> ⟡ </span>Contagious</p>

<p><a class="{{page}}" href="http://www.uxbooth.com/articles/design-research/bridging-the-gap-between-actual-and-reported-behavior/">Bridging the gap between actual and reported behaviour</a><br>
May 2015<span class="spacer"> ⟡ </span>UXBooth</p>

<p><a class="{{page}}" href="/writing/benchmarking-banking-apps">Benchmarking banking apps: a UX review of apps from the top 5 UK retail banks</a><br>
January 2015<span class="spacer"> ⟡ </span>Adaptive Lab site</p>

<p><a class="{{page}}" href="http://www.mindtheproduct.com/2014/11/the-broken-windows-theory-of-technical-debt/">The broken windows theory of technical debt</a><br>
November 2014<span class="spacer"> ⟡ </span>Mind the Product</p>

<p><a class="{{page}}" href="/writing/uberfication-the-sharing-economy-and-optimising-away-human-interaction">Uberfication, the 'sharing economy' and optimising away human interaction</a><br>
September 2014<span class="spacer"> ⟡ </span>Personal blog</p>

<p><a class="{{page}}" href="https://medium.com/@adaptivelab/security-theatre-dark-patterns-and-the-ethics-of-design-3338f92b347b">Security theatre, dark patterns and the ethics of design</a><br>
July 2014<span class="spacer"> ⟡ </span>Adaptive Lab blog</p>

<p><a class="{{page}}" href="http://www.mindtheproduct.com/2014/05/getting-onboarding-right-start-user-investment/">Getting onboarding right from the start with user investment</a><br>
May 2014<span class="spacer"> ⟡ </span>Mind the Product</p>

<p><a class="{{page}}" href="https://www.adaptivelab.com/thoughts/design/prototype-your-product-proposition/">Prototype your product proposition</a><br>
May 2014<span class="spacer"> ⟡ </span>Adaptive Lab blog</p>

<p><a class="{{page}}" href="https://www.adaptivelab.com/blog/different-ways-of-getting-out-of-the-building/">Different ways of 'Getting out of the building'</a><br>
March 2014<span class="spacer"> ⟡ </span>Adaptive Lab blog</p>

<p><a class="{{page}}" href="http://www.mindtheproduct.com/2014/02/using-behavioural-design-make-engaging-products/">Using behavioural design to make more engaging products</a><br>
February 2014<span class="spacer"> ⟡ </span>Mind the Product</p>

<!--<p><a class="{{page}}" href="/writing/what-i-learnt-at-the-dare-conference">Prezi: What I learnt at Dare Conference</a><br>
October 2013<span class="spacer"> ⟡ </span>Prezi</p>-->

<p><a class="{{page}}" href="/writing/5-principles-for-lean-ux-testing">5 principles for lean UX testing</a><br>
May 2013<span class="spacer"> ⟡ </span>Adaptive Lab blog</p>

<p><a class="{{page}}" href="/writing/bad-reviews-are-good-for-business">Bad reviews are good for business</a><br>
January 2012<span class="spacer"> ⟡ </span>Reevoo website</p>
{% endblock %}
